:root {
    --testcolor: #fff;
}

.swal2-title {
    font-size: 1.3rem !important;
    font-family: "Kanit", sans-serif;
}

.swal2-styled {
    font-family: Kanit, sans-serif;
}

.mx-input {
    border:1px solid #aaa !important;
    height: 40px !important;
    color: #000;
}
.swal2-html-container {
    font-family: "Kanit", sans-serif;
}
